SPLIT  Separation Application Combine 
Opérateur GroupBy

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('resources/DATA/Universities.csv')

head() : Afficher les 5 première lignes par défault

In [3]:
df.head()

,Sector,University,Year,Completions,Geography
0,"Private for-profit, 2-year",Pima Medical Institute-Las Vegas,2016,591,Nevada
1,"Private for-profit, less-than 2-year",Healthcare Preparatory Institute,2016,28,Nevada
2,"Private for-profit, less-than 2-year",Milan Institute-Las Vegas,2016,408,Nevada
3,"Private for-profit, less-than 2-year",Utah College of Massage Therapy-Vegas,2016,240,Nevada
4,"Public, 4-year or above",Western Nevada College,2016,960,Nevada

In [5]:
df.groupby('Year').sum()

C:\Users\antoi\AppData\Local\Temp\ipykernel_30364\3275216858.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Year').sum()

      Completions
Year
2012        20333
2013        21046
2014        24730
2015        26279
2016        26224

In [9]:
type(df.groupby('Year').sum())

C:\Users\antoi\AppData\Local\Temp\ipykernel_30364\3563470975.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  type(df.groupby('Year').sum())

pandas.core.frame.DataFrame

Autre opérateurs d'agrégations

<table><td><tt
><span
>count</span></tt></td><td>Nombre d'observations non null</td></tr><tr
><td><tt
><span
>sum</span></tt></td><td>Somme des valeurs</td></tr><tr
><td><tt
><span
>mean</span></tt></td><td>Moyenne des valeurs</td></tr><tr
><td><tt
><span
>mad</span></tt></td><td>Écart moyen absolu</td></tr><tr
><td><tt
><span
>median</span></tt></td><td>Médiane arithmétique des valeurs</td></tr><tr
><td><tt
><span
>min</span></tt></td><td>Minimum</td></tr><tr
><td><tt
><span
>max</span></tt></td><td>Maximum</td></tr><tr
><td><tt
><span
>mode</span></tt></td><td>Mode</td></tr><tr
><td><tt
><span
>abs</span></tt></td><td>Valeur absolue</td></tr><tr
><td><tt
><span
>prod</span></tt></td><td>Produit des valeurs</td></tr><tr
><td><tt
><span
>std</span></tt></td><td>Écart type non biaisé</td></tr><tr
><td><tt
><span
>var</span></tt></td><td>Variance non biaisée</td></tr><tr
><td><tt
><span
>sem</span></tt></td><td>Erreur standard de la moyenne non biaisée</td></tr><tr
><td><tt
><span
>skew</span></tt></td><td>Asymétrie non biaisée (3e moment)</td></tr><tr
><td><tt
><span
>kurt</span></tt></td><td>Kurtosis non biaisé (4ème moment)</td></tr><tr
><td><tt
><span
>quantile</span></tt></td><td>Quantile de l'échantillon (valeur en %)</td></tr><tr
><td><tt
><span
>cumsum</span></tt></td><td>Somme cumulative</td></tr><tr
><td><tt
><span
>cumprod</span></tt></td><td>Produit cumulé</td></tr><tr
><td><tt
><span
>cummax</span></tt></td><td>Maximum cumulé</td></tr><tr
><td><tt
><span
>cummin</span></tt></td><td>Minimum cumulé</td></tr></tbody></table>

In [10]:
df.groupby('Year').sum().sort_index(ascending=False)

C:\Users\antoi\AppData\Local\Temp\ipykernel_30364\77611243.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Year').sum().sort_index(ascending=False)

      Completions
Year
2016        26224
2015        26279
2014        24730
2013        21046
2012        20333

In [12]:
df.groupby(['Year', 'Sector']).sum()

C:\Users\antoi\AppData\Local\Temp\ipykernel_30364\3513747183.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['Year', 'Sector']).sum()

                                              Completions
Year Sector
2012 Private for-profit, 2-year                      3072
     Private for-profit, 4-year or above              632
     Private for-profit, less-than 2-year            1327
     Private not-for-profit, 2-year                   665
     Private not-for-profit, 4-year or above         1059
     Public, 2-year                                  1170
     Public, 4-year or above                        12408
2013 Private for-profit, 2-year                      3053
     Private for-profit, 4-year or above              775
     Private for-profit, less-than 2-year            1281
     Private not-for-profit, 2-year                   471
     Private not-for-profit, 4-year or above         1016
     Public, 2-year                                  1633
     Public, 4-year or above                        12817
2014 Private for-profit, 2-year                      2957
     Private for-profit, 4-year or above             1506
     Private for-profit, less-than 2-year            1328
     Private not-for-profit, 2-year                   449
     Private not-for-profit, 4-year or above         1042
     Public, 2-year                                  2286
     Public, 4-year or above                        15162
2015 Private for-profit, 2-year                      3280
     Private for-profit, 4-year or above             1306
     Private for-profit, less-than 2-year            1629
     Private not-for-profit, 2-year                   425
     Private not-for-profit, 4-year or above         1228
     Public, 2-year                                  2355
     Public, 4-year or above                        16056
2016 Private for-profit, 2-year                      3286
     Private for-profit, 4-year or above              748
     Private for-profit, less-than 2-year            1552
     Private not-for-profit, 2-year                   322
     Private not-for-profit, 4-year or above         1208
     Public, 2-year                                  2431
     Public, 4-year or above                        16677

In [13]:
df.groupby('Year').describe()

     Completions
           count        mean          std   min     25%    50%     75%     max
Year
2012        38.0  535.078947  1036.433239  13.0  114.25  229.5  420.50  5388.0
2013        40.0  526.150000  1040.474782   0.0   98.50  189.0  413.00  5278.0
2014        42.0  588.809524  1150.355857   0.0  104.50  203.5  371.75  5093.0
2015        44.0  597.250000  1183.371791   0.0   87.75  191.0  405.75  5335.0
2016        43.0  609.860465  1235.952796   0.0   90.00  208.0  414.00  5367.0

In [14]:
df.groupby('Year').describe().transpose()

Year                      2012         2013         2014         2015  \
Completions count    38.000000    40.000000    42.000000    44.000000
            mean    535.078947   526.150000   588.809524   597.250000
            std    1036.433239  1040.474782  1150.355857  1183.371791
            min      13.000000     0.000000     0.000000     0.000000
            25%     114.250000    98.500000   104.500000    87.750000
            50%     229.500000   189.000000   203.500000   191.000000
            75%     420.500000   413.000000   371.750000   405.750000
            max    5388.000000  5278.000000  5093.000000  5335.000000

Year                      2016
Completions count    43.000000
            mean    609.860465
            std    1235.952796
            min       0.000000
            25%      90.000000
            50%     208.000000
            75%     414.000000
            max    5367.000000