In [6]:

import numpy as np
import pandas as pd
import html5lib
import requests
import certifi

Input Output : Comment lire et ecrire une donnée depuis un format vers un autre format
https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-tools-text-csv-hdf5

In [3]:
df = pd.read_csv('resources/DATA/example.csv')

In [4]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [5]:
df.to_csv('output/output1.csv', index=False)

In [6]:
ls output

 Le volume dans le lecteur R s'appelle Sahirato SSD
 Le num‚ro de s‚rie du volume est D6BB-7FE0

 R‚pertoire de R:\antoinefusilier\ai-lessons\numpy\output

12/09/2023  15:31    <DIR>          .
12/09/2023  15:32    <DIR>          ..
12/09/2023  15:31                51 output1.csv
               1 fichier(s)               51 octets
               2 R‚p(s)  1ÿ065ÿ216ÿ602ÿ112 octets libres

In [10]:
pd.read_csv('output/output1.csv')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [7]:
df.to_csv('output/output1_indexed.csv', index=True)

In [9]:
pd.read_csv('output/output1_indexed.csv')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [12]:
url = 'https://fdic.gov/resources/resolutions/bank-failures/failed-bank-list/'

response = requests.get(url, verify=False)
response.raise_for_status()
tables = pd.read_html(response.content)

C:\Users\antoi\anaconda3\lib\site-packages\urllib3\connectionpool.py:1045: InsecureRequestWarning: Unverified HTTPS request is being made to host 'fdic.gov'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(
C:\Users\antoi\anaconda3\lib\site-packages\urllib3\connectionpool.py:1045: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.fdic.gov'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

In [13]:
tables[0]

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Heartland Tri-State Bank,Elkhart,KS,25851,"Dream First Bank, N.A.","July 28, 2023",10544
1,First Republic Bank,San Francisco,CA,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
2,Signature Bank,New York,NY,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
3,Silicon Valley Bank,Santa Clara,CA,24735,First–Citizens Bank & Trust Company,"March 10, 2023",10539
4,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538
...,...,...,...,...,...,...,...
562,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001",6004
563,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001",4648
564,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001",4647
565,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000",4646
566,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000",4645