<a href='http://moncoachdata.com'><img src= 'https://moncoachdata.com/wp-content/uploads/MonCoachData-cours/MonCoachData.jpg' width=400/></a>


---



<center><em>Pour plus d'informations, visitez notre site <a href='http://moncoachdata.com'>moncoachdata.com</a></em></center>
<center><em>et rejoignez-nous sur <a href='https://app.moncoachdata.com/discord'>Discord</a> et <a href='https://app.moncoachdata.com/youtube'>YouTube</a></em></center>



---

# Exercices Pandas

**Source des données : https://www.kaggle.com/chirin/africa-economic-banking-and-systemic-crisis-data**


Cet ensemble de données est un dérivé de l'ensemble de données de Reinhart et. al sur la stabilité financière mondiale (Global Financial Stability), qui peut être consulté en ligne à l'adresse suivante : https://www.hbs.edu/behavioral-finance-and-financial-stability/data/Pages/global.aspx

Cet ensemble de données sera précieux pour ceux qui cherchent à comprendre la dynamique de la stabilité financière dans le contexte africain.

Contenu :
L'ensemble de données se concentre spécifiquement sur les crises bancaire, financière, de la dette, de l'inflation et systémique qui ont eu lieu, de 1860 à 2014, dans 13 pays africains, y compris : Algérie, Angola, République centrafricaine, Côte d'Ivoire, Égypte, Kenya, Maurice, Maroc, Nigeria, Afrique du Sud, Tunisie, Zambie et Zimbabwe.



* *caseA* : numéro qui indique un pays spécifique
* *cc3A* : code pays à trois lettres
* *country* : Le nom du pays
* *year* : L'année de l'observation
* *systemic_crisis* : "0" signifie qu'aucune crise systémique ne s'est produite dans l'année et "1" signifie qu'une crise systémique s'est produite dans l'année.
* *exchange_usd* : Le taux de change du pays par rapport au dollar
* *domestic_debt_in_default* : 0" signifie qu'aucun défaut de la dette intérieure souveraine n'est survenu au cours de l'année et "1" signifie qu'un défaut de la dette intérieure souveraine est survenu au cours de l'année
* *sovereign_external_debt_default* : "0" signifie qu'aucun défaut de la dette extérieure souveraine n'est survenu au cours de l'année et "1" signifie qu'un défaut de la dette extérieure souveraine est survenu au cours de l'année
* *gdp_weighted_default* : La dette totale en défaut par rapport au PIB
* *inflation_annual_cpi* : Le CPI - Taux d'inflation annuel (Indice des Prix à la Consommation - IPC)
* *independence* : "0" signifie "pas d'indépendance" et "1" signifie "indépendance"
* *currency_crises* : "0" signifie qu'aucune crise monétaire ne s'est produite au cours de l'année et "1" signifie qu'une crise monétaire s'est produite au cours de l'année
* *inflation_crises* : "0" signifie qu'aucune crise d'inflation ne s'est produite au cours de l'année et "1" signifie qu'une crise d'inflation s'est produite au cours de l'année
* *banking_crisis* : "no_crisis" signifie qu'aucune crise bancaire ne s'est produite dans l'année et "crisis" signifie qu'une crise bancaire s'est produite dans l'année

---
---
***Il existe de très nombreuses solutions possibles à ces questions ! Inutile de poser la question de savoir si votre solution est acceptable si elle est différente de la correction. Tant que vous avez la bonne réponse, c'est correct !***

---
---
### Accomplissez les tâches ci-dessous
---

#### Importer Pandas

In [ ]:
# Code ici

#### Lire le fichier 'african_econ_crises.csv'
Il se trouve sous le dossier 01-Pandas ou DATA. Faites bien attention à l'endroit où se trouve le fichier .csv ! Si vous n'arrivez pas à le trouver ou à le lire, exécuter le notebook Solutions.

In [ ]:
# Code ici

#### Afficher les 5 premières lignes de l'ensemble de données

In [1]:
# Code ici

NameError: name 'df' is not defined

In [ ]:
# Ne rien écrire ici

   case  cc3  country  ...  currency_crises  inflation_crises  banking_crisis
0     1  DZA  Algeria  ...                0                 0          crisis
1     1  DZA  Algeria  ...                0                 0       no_crisis
2     1  DZA  Algeria  ...                0                 0       no_crisis
3     1  DZA  Algeria  ...                0                 0       no_crisis
4     1  DZA  Algeria  ...                0                 0       no_crisis

[5 rows x 14 columns]

#### Combien de pays sont représentés dans cet ensemble de données ?

In [ ]:
# Code ici

13

#### Quels sont les pays représentés dans cet ensemble de données ?

In [ ]:
# Code ici

array(['Algeria', 'Angola', 'Central African Republic', 'Ivory Coast',
       'Egypt', 'Kenya', 'Mauritius', 'Morocco', 'Nigeria',
       'South Africa', 'Tunisia', 'Zambia', 'Zimbabwe'], dtype=object)

#### Quel est le pays dont le taux d'inflation annuel (CPI) est le plus élevé ? Quel était le taux d'inflation ?

In [ ]:
# Code ici

      case  cc3   country  ...  currency_crises  inflation_crises  banking_crisis
1053    70  ZWE  Zimbabwe  ...                1                 1          crisis

[1 rows x 14 columns]

#### En quelle année le Kenya a-t-il connu sa première crise systémique ?

In [ ]:
# Code ici

     case  cc3 country  ...  currency_crises  inflation_crises  banking_crisis
475    35  KEN   Kenya  ...                0                 0          crisis
476    35  KEN   Kenya  ...                0                 0          crisis
477    35  KEN   Kenya  ...                0                 0          crisis
478    35  KEN   Kenya  ...                0                 0          crisis
479    35  KEN   Kenya  ...                1                 0       no_crisis
482    35  KEN   Kenya  ...                1                 1          crisis
483    35  KEN   Kenya  ...                1                 1          crisis
484    35  KEN   Kenya  ...                0                 1          crisis
485    35  KEN   Kenya  ...                0                 0          crisis
486    35  KEN   Kenya  ...                0                 0       no_crisis
487    35  KEN   Kenya  ...                0                 0       no_crisis
488    35  KEN   Kenya  ...                0                 0       no_crisis
489    35  KEN   Kenya  ...                1                 0       no_crisis

[13 rows x 14 columns]

#### Combien de crises systémiques annuelles ont eu lieu dans chaque pays ?

In [ ]:
# Code ici

country
Algeria                      4
Central African Republic    19
Egypt                        6
Ivory Coast                  4
Kenya                       13
Morocco                      2
Nigeria                     10
Tunisia                      5
Zambia                       4
Zimbabwe                    15
Name: systemic_crisis, dtype: int64

#### Pendant combien d'années le Zimbabwe a-t-il connu un défaut de paiement de sa dette extérieure souveraine ?

In [ ]:
# Code ici

30

#### En quelle année l'Algérie a-t-elle eu son taux de change le plus élevé ?

In [ ]:
# Code ici

    case  cc3  country  ...  currency_crises  inflation_crises  banking_crisis
84     1  DZA  Algeria  ...                0                 0       no_crisis

[1 rows x 14 columns]